.section_header

%h1 About Made in PGH

%h2 What is Made in PGH?
%p Made in PGH is a community edited guide to the People, Companies, Groups, Projects, Products, and Resources that make up the creative, technology, and business community in Pittsburgh. It was launched by <a href="http://twitter.com/elliottwilliams">Elliott Williams</a> and <a href="http://twitter.com/gregariousdev">Greg Nicolas</a> on May 1, 2013.

%h2 Why is Made in PGH important?

%p There are many great people, art, and companies that come from Pittsburgh. But unlike New York or other large cities, those stories are frequently split from the collective story of Pittsburgh's growth. If we all represent and promote Pittsburgh, we all benefit. Made in PGH is a campaign and conversion about our amazing city.

%h2 What does it mean to be "community edited"?

%p There are many guides to the creative or tech worlds of pittsburgh that are "curated" and controlled by a person or small group of people. None of them are completely open and inclusive, and none of them accept the fact that people aren't just artists or developers. Pittsburgh, any city, is messy and organic and constantly growing, and we wanted a resource that would reflect this fact.

%p When you join Made in PGH using <a href="http://twitter.com">Twitter</a> (perhaps more soon), you create a person profile. Only you can edit or delete this profile. Once you are logged in, you can add other people from your Twitter network, as well as add Companies, Groups, Projects, Products, and Resources.

%p The fun comes when you realize that anybody who is logged in can add anything - but can also change or take anything away. This network requires trust in a system where anybody can change or remove a non-human profile, but anybody can change or add it back as well.

%p Made in PGH is owned by no one (or rather everyone). It was sponsored by the Sprout Fund and has funding to be up for years. Enjoy.

%p - Elliott
